*{
    margin: 0;
    padding: 0;
} 
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
    
}
nav img{
    width: 150px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.container{
    margin-bottom: 100px;
    margin-top: 40px;
    
}
.card-body{
    text-align: center;
}

.orange-bg{
   background-image: url(images/bg-1.png);
   background-repeat: no-repeat;
   background-position:center;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, black 0%, black 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;

}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.catagories{
    text-align: center;
}

.catagories{
   text-align: center;
   

}
.cat-1{
    box-shadow: 5px 5px 10px;
    width: 45%;
    margin-top: 150px;
    margin-left: 150px;
    height: 150px;
    border-radius: 10px;
}
.cat-2{
    box-shadow: 5px 5px 10px;
    width: 45%;
    height: 150px;
    border-radius: 10px;
}
.cat-3{
    box-shadow: 5px 5px 10px;
   margin-top: 20px;
    width: 45%;
    height: 150px;
    border-radius: 10px;
}

.cat-4 img{
    width: 400px;
    height: 400px;
 
}


